__pycache__/
*.py[cod]

*.log
sync_log.txt*
log/

.env
.env.*
.last_update_notify
settings/credenciais.json
settings/button_overrides.json

backups/
historicos/
tmp_streaming_emojis/
database/*.db
database/*.sqlite
database/*.sqlite3
database/users/
database/roleta_giros.json

qrcode*.png
